.unsplash-badge-link {
	background-color:gray;
	color:white;text-decoration:none;
	padding:4px 6px;
	font-family:-apple-system, BlinkMacSystemFont, "San Francisco", "Helvetica Neue", Helvetica, Ubuntu, Roboto, Noto, "Segoe UI", Arial, sans-serif;font-size:12px;
	font-weight:bold;line-height:1.2;
	display:inline-block;border-radius:3px;
}

.unsplash-badge-span {
	display:inline-block;
	padding:2px 3px;
}


