.unsplash-badge-link {
	background-color:gray;
	color:white;text-decoration:none;
	padding:4px 6px;
	font-family:-apple-system, BlinkMacSystemFont, "San Francisco", "Helvetica Neue", Helvetica, Ubuntu, Roboto, Noto, "Segoe UI", Arial, sans-serif;font-size:12px;
	font-weight:bold;line-height:1.2;
	display:inline-block;border-radius:3px;
}

.unsplash-badge-span {
	display:inline-block;
	padding:2px 3px;
}


.post-image-left {
	width:80%;
	display: block;
    margin-left: auto; 
	margin-right: auto;
}


blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}


blockquote p {
  display: inline;
}